.aos {
  position: relative;
  top: 80px;
  opacity: 0;
  height: 20vh;
  width: 40%;
  padding: 1rem;
  transition: 0.5s ease-out;
  border: 1px solid black;
  background-color: rgb(148, 148, 148);
  margin: 5rem 5rem 50vh 5rem;
  overflow: hidden;
}

.aos.active {
  top: 0;
  opacity: 1;
  transform: translateY(-60px);
  transition: 0.5s ease-in;
}