* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #161616;
  height: 6000px;
}

.container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 20vh;
  width: 6000px;
  transition: transform 0.15s;
  will-change: transform;
  /* background-color: aqua; */
}

.box {
  position: relative;
  width: 500px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

.one {
  background-image: url(./images/one.jpg);
}
.two {
  background-image: url(./images/two.jpg);
}
.three {
  background-image: url(./images/three.jpg);
}
.four {
  background-image: url(./images/four.jpg);
}
.five {
  background-image: url(./images/five.jpg);
}
.six {
  background-image: url(./images/six.jpg);
}