* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  color: #000000;
}

.slider-wrap {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 300px;
  border: 1px solid black;
  cursor: grab;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider-inner {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  height: 100%;
  width: 3000px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 98%;
  top: 1%;
  border: 1px solid #000000;
  background-color: #d3d2d2;
}

.progress-bar {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.prog-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #383838;
}
